html {
  scroll-behavior: smooth;
  font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;
  user-select: none;
  overflow-x: hidden;
  background-color: white;
}
header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  /* padding: 0 0 25px 25px; */
  z-index: 10000;
  background-color: #d8d2cc;
  /* background-image: linear-gradient(
    to left,
    #1a1e22,
    #272d33,
    #494e54,
    #494e54
  ); */
  transition: all 0.3s ease;
}
#header.hide {
  top: -146px;
}
.col-5 {
  width: 5%;
}
.col-10 {
  width: 10%;
}
.col-15 {
  width: 15%;
}
.col-30 {
  /* flex: 0 0 auto; */
  width: 30%;
}
.col-40{
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-70 {
  width: 70%;
}
.col-100 {
  width: 100%;
}
/* .navigation-section {
  display: flex;
  flex-direction: column;
} */
/* .navigation-section:last-child {
  align-items: flex-end;
} */
.navigation-decoration {
  display: flex;
  justify-content: flex-end;
}
.navigation-decoration-container {
  display: flex;
  flex-direction: row;
}
.navigation-decoration-container::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 40px solid #fff;
  border-left: 30px solid transparent;
}
.navigation-decoration-container ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 0 0 0;
  list-style: none;
  text-decoration: none;
  background-color: #fff;
  height: 40px;
  width: 100%;
}
.navigation-decoration-container ul li {
  display: flex;
  flex-direction: row;
  width: 30%;
  align-items: center;
  justify-content: center;
  /* margin-left: 10px; */
}
.navigation-decoration-container ul li i {
  margin-right: 10px;
}
.navigation-decoration-container ul li div {
  font-size: 16;
  font-weight: bold;
}
.inner-navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.logo {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -30px
  
}
.navigation-bar {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 90px 0 0;
  width: 100%;
}
.navigation-bar ul {
  margin: 0 15px 0 15px;
  font-size: 20px;
  border-radius: 15px;
  padding: 5px;
}
.navigation-bar ul a:hover {
  color: #1a1e22;
  font-family: sans-serif;
  position: relative;
}

.navigation-bar ul a {
  text-decoration: none;
  color: #494949;
  font-family: sans-serif;
  text-transform: capitalize;
  font-weight: bold;

}
.background-section{
  background-color: black;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.background-container {
  width: 100%;
  position: relative;
}
.background-container img {
  width: 100%;
  object-fit: contain;
  background-size: 100% 100%;
  opacity: 0.6;
}


.faded-layer {
  position: relative;
}
.faded-layer::before {
  content: "";
  width: 100%;
  background: linear-gradient(to top, white, #d8d2cc,transparent);
  position: absolute;
  bottom: 0;
  height: 150px;
  z-index: 10;
}
.box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  /* top: 25%;
  left: 20%; */
  top: 25%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 50;
  cursor: default;
  font-family: "Poppins", sans-serif;
  z-index: 999 !important;
  margin-top: 14%;
}
.box h1 {
  margin: 0 0 50px 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 80px;
  margin-left:43%; 
  font-size:75px; 
  font-weight: lighter; 
  letter-spacing: -5px;
}
.box p {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: silver;
  font-weight: light; 
  text-transform: none; 
  margin-left:70%; 
}

.box a{
  margin-left:70%;
}

.box a button {
  margin-top: 50px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: none;
  width:329px; height: 50px;
  border-radius: 25px; 
  background: white; 
  letter-spacing: 5px;
}

.box a button span{
  color: black;   
  font-weight: bolder; 
  font-size:20px;
}

.box button:hover {
  /* box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem #d8d2cc,
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5); */
  filter: invert(90%);
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown a {
  padding: 12px 16px;
}
.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content * {
  display: block;
  padding: 12px 16px;
  list-style-type: none;
  text-align: center;
  cursor: pointer;
}
.dropdown-content *:hover {
  background-color: #528aae;
}
.content-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

.author-title:before {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background: #000;
  left: 0;
  top: 50%;
  position: absolute;
}

.author-title:after {
  content: "";
  display: block;
  width: 150px;
  height: 2px;
  background: #000;
  right: 0;
  top: 50%;
  position: absolute;
}
.author-title {
  margin: auto;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  max-width: 600px;
  position: relative;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin-right: 53%; margin-top:100px; margin-bottom:60px
}

.author-details {
  display: flex;
  flex-direction: row;
  padding: 25px 100px;
  flex: 1 1 auto;
}
.author-details > .card {
  flex-basis: 100%;
  margin: 0 50px;
}
.card {
  display: block;
  border: 5px solid;
  padding: 12px 16px;
}
.card:nth-child(1) {
  border-color: #add8e6;
}
.card:nth-child(2) {
  border-color: #ffdb75;
}
.card:nth-child(3) {
  border-color: #bfffa9;
}
.card-title {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.card-details {
  margin-left: 26px;
  margin-top: 5px;
}
.card-details li {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.card-details li div {
  font-size: 18px;
  font-weight: 300;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
.aboutus-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 40px 0 40px 0;
  flex: 1 1 auto;
  flex-wrap: wrap;
  width: 100%;
  
}
/* .aboutus-details > .person-container:nth-child(2n){
  justify-content: end;
} */
.person-container{
  display: flex;
  /* padding: 12px 16px; */
  margin: 10px 25px 10px 25px;
  height: 200px;
  transition: all ease-in-out 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 10px;
  position: relative;
  background-color: #ece9e6;
}
.person-container:hover {
  transform: scale(1.05);
  height: 300px;
  filter: invert(100%);
}
.person-container:hover img{
  height: 200px;
}
.person-container:hover .aboutus-img-container{
  /* width: 300px; */
  height: 100px;
  filter: invert(100%);

}
.person-container img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: all ease-in-out 0.3s;
}
.person-container:hover .person-description-left{
  opacity: 1;
}
.person-container:hover .person-description-right{
  opacity: 1;
}
.aboutus-img-container {
  width: 100%;
  object-fit: fill;
  height: 200px;
  overflow: hidden;
  position: relative;
  transition-duration: 300ms;
  border-radius: 10px 10px 0 0;
}
.person-description-left {
  display: block;
  width: 636px;
  position: absolute;
  top: 100px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  padding: 12px 16px 12px 16px;

}
.person-description-left span{
  display: block;
  
}
.person-description-right{
  display: block;
  width: 100%;
  position: absolute;
  top: 100px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
  padding: 12px 16px 12px 16px;
}
.person-description-right span {
  display: block;
  padding-right: 20px;
}
#left-avatar {
  position: absolute;
  left: -35px;
  display: inline-block;
  transform: skew(15deg, 0deg);
  z-index: 5;
  overflow: hidden;
  height: 200px;
}
#left-avatar img {
  -webkit-transform-: skew(-15deg, 0deg);
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}
#right-avatar {
  position: absolute;
  right: -35px;
  display: inline-block;
  transform: skew(15deg, 0deg);
  z-index: 5;
  overflow: hidden;
  height: 200px;
}
#right-avatar img {
  -webkit-transform-: skew(-15deg, 0deg);
  filter: blur(4px);
  -webkit-filter: blur(4px);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0.7;
}
.avatar-container-left{
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50px;
  top: 25px;
  z-index: 99 !important;
  transition: all ease-in-out 0.3s;
}
.avatar-container-left img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.8;  
}
.person-container:hover .avatar-container-left{
  width: 60px;
  height: 60px;
  transform: scale(1.5) rotate(0.01deg);
}
.person-container:hover .avatar-container-right{
  width: 60px;
  height: 60px;
  transform: scale(1.5) rotate(0.01deg);
}
.avatar-container-right {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 50px;
  top: 25px;
  z-index: 99 !important;
  transition: all ease-in-out 0.3s;
}
.avatar-container-right img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.8;
}

.avatar-container-right img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.8;
}
#right-content {
  display: inline-block;
  width: 100%;
  height: 200px;
  transform: skew(0deg, 0deg);
  z-index: 2;
  overflow: hidden;
  position: relative;
}

#right-content img{
  height: 300px; width:100%;
}

.aboutus-content-container-left {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 200px;
}
.content-container-left {
  text-align: left;
  z-index: 5 !important;
  position: absolute;
  height: 200px;
  /* width: 100%; */
  top: 0%;
  left: 50%;
  color: #1a1e22;
}
.content-container-left h3{
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
.content-container-left > .role{
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  font-size: 16px;
  font-weight: bold;
}
.aboutus-content-container-right {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 200px;
}

.content-container-right {
  text-align: right;
  z-index: 5 !important;
  position: absolute;
  height: 200px;
  /* width: 100%; */
  top: 0%;
  right: 50%;
  color: #1a1e22;
}

.content-container-right h3 {
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.content-container-right>.role {
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  font-size: 16px;
  font-weight: bold;
}

/* .aboutus-content-container img{
  object-fit: cover;
  z-index: 3;
}
.aboutus-content-container h3{
  text-align: center;
  margin: 3px 0;
} */
.tool-details {
  display: flex;
  flex-direction: row;
  padding: 50px;
}
.tool-image-container, .tool-image-container img{
  object-fit: cover;
  width: 700px;
  height: auto;
}
.tool-content-container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tool-content-container li{
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  /* align-content: center; */
  align-items: center;
}
.tool-content-container li a{
  text-decoration: none;
}
.tool-icon{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #494e54;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.tool-icon *{ 
  /* display: block; */
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  font-size: 40px;
  top: -20px;
  color: #494e54;
  /* transition: all ease-in-out 0.3s; */
}
.tool-icon:hover{
  background-color: #494e54;
}
.tool-icon:hover *{
  color: white;
}
/* .tool-icon:hover  */
.tool-content{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  font-family: "Poppins", sans-serif;
  /* font-family: "Lato", sans-serif; */
}
.tool-content a{
  font-size: 1rem;
  text-decoration: none;
  margin-top: 20px;
  color: #f54242;
}
.tool-content span{
  font-size: 1.5rem;
  color: #272d33;
  font-weight: bolder;
}

